[submodule "datasets/childes/CHILDES-dataset"]
	path = datasets/childes/CHILDES-dataset
	url = https://huggingface.co/datasets/transformersegmentation/CHILDES
[submodule "datasets/bnc/BNC-dataset"]
	path = datasets/bnc/BNC-dataset
	url = https://huggingface.co/datasets/transformersegmentation/BNC
[submodule "data/pingyam"]
	path = data/pingyam
	url = https://github.com/kfcd/pingyam.git
